<section class="contact-container">
  <div class="contact-content">
    <div class="contact-info">
      <h1>{{ 'contact.title' | t }}</h1>
      <p>{{ 'contact.intro' | t }}</p>

      <div class="contact-methods">
        <div class="method">
          <i class="fas fa-envelope"></i>
          <h3>{{ 'contact.email' | t }}</h3>
          <p>contact&#64;lazyrhythm.com</p>
        </div>
      </div>
    </div>

    <div class="contact-form-wrapper">
      <app-contact-form formType="contact"></app-contact-form>
    </div>
  </div>
</section>
