.menu {
  border-radius: 0.5rem;
  cursor: default;
  display: none;
  width: 10rem;
}

.menu-content {
  border: solid;
  border-radius: 0.5rem;
  background-color: #5cc;
}

.menu-content:hover {
  background-color: #ccc;
}

.menu-link {
  text-decoration: none;
  color: #c55;
}
