$topBackgroundColor: rgb(155, 255, 255);
$topFontColor: rgb(0, 0, 0);
$themeColor: #058a5e;

body {
  background-color: #504949;
}

.top {
  // width: 100%;
  // text-align: center;
  background-color: $topBackgroundColor;
}

.top,
.top-content {
  display: flex;
  padding: 0.5rem 0rem;
  border-radius: 3px;
  justify-content: space-around;
  cursor: default;
}

.top-content:hover {
  background-color: green;
  width: 15rem;

  .top-content-button {
    color: burlywood;
    font-size: 20px;
  }
}

.menu {
  border-radius: 0.5rem;
  cursor: default;
  display: none;
  width: 10rem;
  position: fixed;
  z-index: 9999;
}

.menu-content {
  border: solid;
  border-radius: 0.5rem;
  background-color: #5cc;
}

.menu-content:hover {
  background-color: #ccc;
}

.menu-link {
  text-decoration: none;
  color: #c55;
}
