$topBackgroundColor: rgb(155, 255, 255);
$topFontColor: rgb(0, 0, 0);
$topArea: 10%;


.top {
  width: 100%;
  text-align: center;
  background-color: $topBackgroundColor;
}

.top,
.top-content {
  display: flex;
  padding: 0.5rem 0rem;
  justify-content: space-around;
}

// .main-content {
//   position: relative;
//   top: 50%;
// }
//
// .show-screen {
//   top: 30%;
//   width: 100%;
//
//   background-color: orange;
//   // display: none;
// }
//
//
// .hidden-div {
//   color: greenyellow;
// }


@media all and (min-width:900px) {

  //phone
  .hidden-div {
    display: none;
  }

  .top {
    margin: 1rem 0rem;

    // position: fixed;
    z-index: 9999;
    //
    font-size: 30px;
    border-radius: 1px;
    color: $topFontColor;

    // background-color: rgb(99, 99, 99);
    //
    @if($topFontColor !=rgb(99, 99, 99)) {
      font-size: 20px;
    }

    // opacity: 0.99;
    // float: inline;
  }

  // .top,
  // .top-content {
  //   float: left;
  //   padding: 10px 30px;
  //
  //   // width: fit-content;
  // }

  // .rand-pic {
  //   width: 50px;
  //   height: 100px;
  //   display: none;
  // }
}

@media screen and (min-width:900px) {}
