$topBackgroundColor: rgb(155, 255, 255);
$topFontColor: rgb(0, 0, 0);
$topArea: 10%;
$themeColor: #058a5e;

body {
  background-color: #504949;
}

img {
  filter: url(#noice);
}

.top {
  // width: 100%;
  // text-align: center;
  background-color: $topBackgroundColor;
}

.top,
.top-content {
  display: flex;
  padding: 0.5rem 0rem;
  border-radius: 3px;
  justify-content: space-around;
  cursor: default;
}

// .top-content-button {
//   width: 8rem;
//   height: 1.8rem;
//   border-radius: 0.5rem;
//   background-color: blue;
// }

.top-content:hover {
  background-color: green;
  width: 12rem;
}

// .main-content {
//   position: relative;
//   top: 50%;
// }
//
.show-screen {
  height: 100vh;
  width: 100vw;
}


// .hidden-div {
//   color: greenyellow;
// }


// @media all and (min-width:900px) {
//
//   //phone
//   .hidden-div {
//     display: none;
//   }
//
//   .top {
//     margin: 1rem 0rem;
//
//     // position: fixed;
//     z-index: 9999;
//     //
//     font-size: 30px;
//     border-radius: 1px;
//     color: $topFontColor;
//
//     // background-color: rgb(99, 99, 99);
//     //
//     @if($topFontColor !=rgb(99, 99, 99)) {
//       font-size: 20px;
//     }
//
//     // opacity: 0.99;
//     // float: inline;
//   }
//
//   // .top,
//   // .top-content {
//   //   float: left;
//   //   padding: 10px 30px;
//   //
//   //   // width: fit-content;
//   // }
//
//   // .rand-pic {
//   //   width: 50px;
//   //   height: 100px;
//   //   display: none;
//   // }
// }
//
// .neumorphism-btn {
//   width: 250px;
//   height: 250px;
//   border-radius: 50px;
//   background: linear-gradient(145deg, #484242, #564e4e);
//   box-shadow: 20px 20px 60px #443e3e,
//     -20px -20px 60px #5c5454;
// }
//
// .neumorphism-btn:hover {
//   cursor: pointer;
// }
//
// .neumorphism-btn:active {
//   width: 250px;
//   height: 250px;
//   border-radius: 50px;
//   background: linear-gradient(145deg, #484242, #564e4e);
//   box-shadow: inset 20px 20px 60px #443e3e,
//     inset -20px -20px 60px #5c5454;
// }
//
// @media screen and (min-width:900px) {}
