<div class="show-screen" bgcolor="#cc00bb">

  <div class="top">
    @for(topItem of topList;track topList){
    <div class="top-content">{{topItem}}</div>
    }
  </div>

  <div class="main-content">
    <table class="showPicTable">
      <tr>
        <td bgcolor="#cc00bb">{{pic}}</td>
        <td>{{pic}}</td>
        <td>{{pic}}</td>
      </tr>
      <tr>
        <td><img src="https://picsum.photos/200/300?1" alt="" class="rand-pic"></td>
        <td><img src="https://picsum.photos/200/300?2" alt="" class="rand-pic"></td>
        <td><img src="https://picsum.photos/200/300?3" alt="" class="rand-pic"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <h1>Hello {{user}}!</h1>
  <h1>Welcome to {{title}}!</h1>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolores necessitatibus officiis illo eligendi reprehenderit! Aliquam expedita animi, eum saepe aperiam fuga ullam pariatur deleniti dignissimos tempore minus commodi facere.
  </div>
</div>

<div class="hidden-div">
  C:\Users\user\code\Angular\lazyrhythm\src\app
  <br/>
  media property is not activity

</div>
